<form class="dodawanie" action="/dodaj" method="post">
  <input type="text" name="imie_ucznia" value="">
  <input type="text" name="nazwisko_ucznia" value="">
  <input type="submit"  value="edytuj dane ucznia">
</form>