<table>
  <tr>
    <td style="background-color: yellow;">Imię:</td>
    <td style="background-color: yellow;">Nazwisko:</td>
  </tr>
    <tr>
      <td>{{imie}}</td>
      <td>{{nazwisko}}</td>
    </tr>
</table>
