<div class="poj" id="first">
  <h1 style="text-align:center;">Dziennik internetowy</h1>
  <form class="zalogo" action="/zalogo" method="post">
    <input type="submit" name="zaloguj sie" value="Zaloguj się">
  </form>

</div>
