<div class="poj" id="glowny">

  <h1 style="text-align:center;">Dziennik internetowy</h1>
  <form class="zalogo" action="/login" method="post">
    <input type="text" name="login" value="">
    <input type="password" name="password" value="">
    <input type="submit" name="user" value="zaloguj">
  </form>

  <form class="zalogo3" action="/unknownlog" method="post">
    <input type="submit" name="niezalogowany" value="wejdź jako gość">
  </form>

</div>
